<h1>System fakturowania</h1>
<p>Witaj w systemie zarządzania fakturami</p>

<p>Dla ułatwienia Ci startu przedstawię kilka szczegółów:</p>
<ul>
    <li><strong>Faktury</strong> - tutaj znajdziesz wyszukiwarkę faktur</li>
    <li><strong>Dodaj fakturę</strong> - w tym miejscu dodasz fakturę do systemu</li>
    <li><strong>Klienci</strong> - tutaj znajdziesz wyszukiwarkę klientów, można ich szukac po numerze NIP</li>
    <li><strong>Dodaj klienta</strong> - w tym miejscu dodasz klienta do systemu</li>
</ul>